.container{
    background-color: #446274;
    padding: 3%;
    border-radius: 10px;
    display: flex;
    flex-direction:column;
}

#weatherHeader{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-weight: 600;
    font-size: 40px;
    justify-content:center;
    width:100%;
}

#weatherTemp{
    color:white;
    font-weight: 400;
    font-size: 30px;
    justify-content:center;
    width:100%;
}